@import "~bootstrap/scss/bootstrap";

$white: #ffffff;
$off-white-text: #e8e4df;
$mid-blue-bg: #22a6c3;


html {
  -webkit-font-smoothing: antialiased;
}

svg {
  overflow: visible;
}

header {
  padding: 2rem 0 0.75rem;
  display: flex;
  a {
    display: flex;
    background-image: url(../img/ecologi-logo-light.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 52px;
    margin: 0 auto;
    padding-top: 3px;
    transform: translateX(18px);
    transition: opacity .3s;
    width: 100px;
  }
}

h3 {
  color: #076048;
}

.page-container {
  min-height: 100vh;
  background: #076048;
}

.dashboard-container {
  background: linear-gradient(180deg, $mid-blue-bg, $white);
}

.main-content {
  font-family: 'Sofia Pro', sans-serif;
  margin-bottom: 100px;
}

.chart-title {
  font-weight: 700;
  margin: 2rem 0;
  color: $white;
}

.chart-container {
  position: relative;
  display: flex;
  height: 100%;
  margin: 1rem 10px;
  background: linear-gradient(0deg, hsl(210deg 17% 98%), hsl(191 64% 90% / 0.63));
  box-shadow: 0 0 0 10px rgb(248 252 252 / 0.7);
  border-radius: 2px;
  padding: 1rem;
  z-index: 100;
  justify-content: center;

  .placeholder-text {
    display: flex;
    flex: 0 1 auto;
    text-align: center;
    align-self: center;
  }

  .recharts-brush {
    transform: translate(0,30px);
    & > rect:first-child {
    stroke: #ccc;
    }
    .recharts-brush-slide {
      fill: #a7dce7;
    }
  }

  .recharts-brush-traveller rect {
    fill: $mid-blue-bg;
  }

  .recharts-tooltip-cursor {
    fill: #ffffff;
    fill-opacity: 0.5;
  }

  .recharts-brush-texts {
    z-index: 110;
  }

  .info-box {
    display: block;
    position: absolute;
    top:10px;
    right: 10px;
    background: #ffffffbd;
    border: 2px solid #0c9e77;
    padding: 10px;
    max-width: 300px;
    border-radius: 4px;
    b {
      font-weight: 700;
      color: #076048;
    }
    p {
      margin-bottom: 0;
    }
  }
}

section.footer {
  display: flex;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 300px;

  &:before {
    background-image: url(../img/mountains-bg.svg);
    height: 200px;
    top: -160px;
    background-repeat: repeat-x;
    background-size: 1000px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
  }
}
